<div class="container align-middle" style="margin-top: 13%">
  <div class="row justify-content-center align-items-center text-center">
    <div class="col-md-3 p-5 border bg-light" style="max-width: 350px; max-height: 10%">
      <h4>Welcome aboard!</h4>
      <h6 *ngIf="errorResponse.code || errorResponse.message" class="form-text text-danger">
        {{processError()}}
        {{errorResponse.message}}
      </h6>
      <form [formGroup]="signUpForm" (ngSubmit)="signUp()">
        <label>
          <input type="text" placeholder="Email" class="form-control" formControlName="email">
        </label>
        <br/>
        <label>
          <input type="text" placeholder="Login" class="form-control" formControlName="login">
        </label>
        <br/>
        <label>
          <input type="password" placeholder="Password" class="form-control" formControlName="password">
        </label>
        <br/>
        <input type="submit" class="btn btn-lg btn-primary text-light form-control" value="Signup">
        <br/>
        <a href="auth/sign-in" class="form-text my-2">I have account</a>
      </form>
    </div>
  </div>
</div>

