<div class="container align-middle" style="margin-top: 13%">
  <div class="row justify-content-center align-items-center text-center">
    <div class="col-md-3 p-5 border bg-light" style="max-width: 350px; max-height: 10%">
      <h4>Welcome back!</h4>
      <h6 *ngIf="errorResponse.code || errorResponse.message" class="form-text text-danger">
        {{processError()}}
        {{errorResponse.message}}
      </h6>
      <form (ngSubmit)="signIn()" [formGroup]="signInForm">
        <label class="py-2">
          <input class="form-control" formControlName="email" placeholder="Email" type="text">
        </label>
        <br/>
        <label>
          <input class="form-control" formControlName="password" placeholder="Password" type="password">
        </label>
        <br/>
        <input class="btn btn-lg btn-primary text-light form-control" type="submit" value="Sign in">
        <br/>
        <a class="form-text my-2" href="auth/sign-up">I don't have account yet</a>
      </form>
    </div>
  </div>
</div>

