<nav class="navbar navbar-expand navbar-light bg-light">
  <a class="navbar-brand" href="articles">Foodcart</a>
  <div class="w-100">
    <ul class="navbar-nav">
      <li *ngIf="isLoggedIn" class="nav-item active">
        <a class="nav-link" href="articles/new">New article</a>
      </li>
      <li *ngIf="isLoggedIn" class="nav-item active">
        <a class="nav-link" href="articles/my">My articles</a>
      </li>
      <li *ngIf="isLoggedIn" class="nav-item active">
        <a class="nav-link" href="user/my">Profile</a>
      </li>
      <li class="nav-item active">
        <a (click)="logOut()" *ngIf="isLoggedIn" class="nav-link" href="auth/sign-in">Log out</a>
        <a *ngIf="!isLoggedIn" class="nav-link" href="auth/sign-in">Sign in</a>
      </li>
    </ul>
  </div>
</nav>
