<h4 class="modal-header text-center">Articles</h4>
<h4 *ngIf="response.result">
  Found: {{response.totalElements}}
  <br/>
  <ng-template *ngIf="response.totalPages > 0">
    Page: {{response.pageNumber + 1}} / {{response.totalPages}}
  </ng-template>
</h4>
<h4 *ngIf="error.code" class="text-danger">
  {{processError()}}
  {{error.message}}
</h4>
<div class="text-center">
  <label class="w-25">
    <input [(ngModel)]="model.text" class="form-control" placeholder="Search" type="text">
  </label>
  <br/>
  <button (click)="searchArticles()" class="w-25 btn btn-primary py-2">Find</button>
  <br/>
</div>
<hr/>
<br/>
<div class="container my-3">
  <div *ngFor="let item of response.result" class="card-deck">
    <div class="card">
      <div class="card-header">
        {{item.title}}
      </div>
      <div class="card-body">
        Product: {{item.productName}}
        <br/>
        Product rate: {{item.productRate}}/10
        <br/>
        Author: <a href="user/{{item.authorUuid}}">{{item.authorLogin}}</a>
        <br/>
        Comments: {{item.comments.length}}
        <br/>
        <span *ngIf="item.comments.length > 0">
        Article rate: {{item.articleRate}}/10,
          <br/>
        </span>
        {{item.pubDateTime}}
      </div>
      <div class="card-footer">
        <button (click)="openArticle(item.uuid)" class="btn btn-lg btn-primary w-100">
          Show
        </button>
      </div>
    </div>
  </div>
</div>
<br/>
<div *ngIf="response.result" class="container w-100 text-center">
  <button (click)="response.pageNumber = response.pageNumber - 1; searchArticles()" *ngIf="response.pageNumber > 0"
          class="btn btn btn-light btn-outline-success">
    <<
  </button>
  <button (click)="response.pageNumber = response.pageNumber + 1; searchArticles()" *ngIf="response.pageNumber + 1 < response.totalPages"
          class="btn btn-light btn-outline-success">
    >>
  </button>
</div>
<ng-template *ngIf="response.result && response.result.length === 0">
  No articles found for such content
</ng-template>
