<h4 class="modal-header text-center">Results of search request: "Snickers"</h4>
<div class="container my-3">
  <div class="row row-cols-3">
    <div class="col">
      <div class="card">
        <div class="card-header">
          Article title
        </div>
        <div class="card-body">
          Article product: Chocolate "Snickers"
          <br/>
          Article rating: 5.0/5.0
          <br/>
          Author: Ivan Ivanov
          <br/>
          Comments: 15
        </div>
        <div class="card-footer">
          <button class="btn btn-lg btn-primary w-100">Show</button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-header">
          Article title
        </div>
        <div class="card-body">
          Article product: Chocolate "Snickers"
          <br/>
          Article rating: 5.0/5.0
          <br/>
          Author: Ivan Ivanov
          <br/>
          Comments: 15
        </div>
        <div class="card-footer">
          <button class="btn btn-lg btn-primary w-100">Show</button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-header">
          Article title
        </div>
        <div class="card-body">
          Article product: Chocolate "Snickers"
          <br/>
          Article rating: 5.0/5.0
          <br/>
          Author: Ivan Ivanov
          <br/>
          Comments: 15
        </div>
        <div class="card-footer">
          <button class="btn btn-lg btn-primary w-100">Show</button>
        </div>
      </div>
    </div>
  </div>
</div>
