<div class="container rounded bg-light border border-light text-center my-5 py-3 w-50">
  <p *ngIf="error.message || error.code" class="text-danger">
    {{processError()}}
    {{error.message}}
  </p>
  <div class="row">
    <div class="col">
      <label>
        <input [(ngModel)]="passwordChangeObject.password" class="form-control input-group" placeholder="New password"
               type="password">
      </label>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <label>
        <input [(ngModel)]="passwordChangeObject.repeatedPassword" class="form-control input-group" placeholder="Repeat new password"
               type="password">
      </label>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <button (click)="changePassword()" class="btn btn-lg btn-info">Change</button>
    </div>
  </div>
</div>
